/* * {
    box-sizing: border-box;
} */

.wrapper {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-content: space-between;
    /* vh-view height */
}

.wrapper * {
    padding: 1rem;
}

.header {
    flex-basis: 100%;
    background: rgb(181, 189, 200);
    background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    order: 1;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header__logo-link,
.nav_link {
    text-decoration: none;
}

.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__nav>li {
    margin: 0 10 px;
}

.header__nav>li:last-child {
    margin-right: 0;
}

.main {
    background: linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
   /* flex-grow: 4;
    flex-basis: 1px; */
    flex: 4 1 1px;
    order: 3;
}

.jumbotron {
    border: 1px solid antiquewhite;
    border-radius: 6px;
    background: grey;
}

h1 {
    padding: 0;
}

.jumbotron p {
    padding: 0
}

.btn-primary {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 15px 28px;
    border: 2px solid rgb(21, 151, 226);
    background: rgb(21, 151, 226);
    border-radius: 4px;
}

.cards {
    display: flex;
}

.card {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 6px;
    margin: 20px;
    padding: 0 0 5px 0;
}

.card__image {
    width: 100%;
    height: auto;
    padding: 0;
}

.card__title {
    padding-bottom: 0;
}

.card__text {
    padding-top: 0;
    margin-top: 0;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid black; */
}

.btn {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid rgb(21, 151, 226);
    background: rgb(21, 151, 226);
    border-radius: 4px;
}

.card__footer {
    padding: 0;
}

.aside {
    flex-grow: 0;
}

.aside-1 {
    order: 2;
    background: #fceabb;
    background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
}

.aside-2 {
    order: 4;
    background: #cb60b3;
    background: linear-gradient(to bottom, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
}

.footer {
    background: rgb(181, 189, 200);
    background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    flex-basis: 100%;
    order: 5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}