* {
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh; 
    align-content: space-between;
    /* vh-view height */
}

.wrapper * {
    padding: 1rem;
}

.header {
    flex-basis: 100%;
    background: #edb1a8;
    background: linear-gradient(to bottom, #edb1a8 0%, #ea341c 100%);
    order: 1;
    height: 50px;
}

.main {
    background: #b7deed;
    background: linear-gradient(to bottom, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
    /* flex-grow: 4;
    flex-basis: 1px; */
    flex: 4 1 1px;
    order: 3;
}



.aside {
flex-grow: 1;
}

.aside-1 {
    order: 2;
    background: #fceabb;
    background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
}

.aside-2 {
    order: 4;
    background: #cb60b3;
    background: linear-gradient(to bottom, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
}

.footer {
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    flex-basis: 100%;
    order: 5;
    height: 50px;
    
}
